extends layout

block content
  p hello

  //- div.wrapper.ohononooo
  //-   p.hello Hello my dog's name is #{dog.toUpperCase()}!
  //-   span#yo yo!!
  //-   img.dog(src="dog.jpg" alt="dog")

//- adding JUST a class will assume a div is being used
//- we must use es6 template literals for img alt tags, unlike with strings
//- you can run js within #{} 
//- emmett works on pug